{{ define "main" }}
<main id="landing-page" class="archivo">
  <div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <a class="pure-menu-heading" href="">
        <span class="battlefield">BR</span><span class="marker rgb">13</span>
      </a>

      <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
          <a href="#" id="menuLink1" class="pure-menu-link">Menu</a>
          <ul class="pure-menu-children">
            <li class="pure-menu-item">
              <a href="#about" class="pure-menu-link">About</a>
            </li>
            <li class="pure-menu-item">
              <a href="#games" class="pure-menu-link">Games</a>
            </li>
            <li class="pure-menu-item">
              <a href="#prizes" class="pure-menu-link">Prizes</a>
            </li>
            <li class="pure-menu-item">
              <a href="#tickets" class="pure-menu-link">Tickets</a>
            </li>
            <li class="pure-menu-item">
              <a href="#patrons" class="pure-menu-link">Patrons</a>
            </li>
            <li class="pure-menu-item">
              <a href="#faq" class="pure-menu-link">FAQ</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="splash-container">
    <h1 id="splash-title">
      <span class="battlefield">BATTLE ROYALE</span>&nbsp;<span
        class="marker rgb"
        >13</span
      >
    </h1>
    <p id="splash-subtitle">
      Ottawa's&nbsp;Largest
      <span class="rgb">24hr</span> Gaming&nbsp;Competition!
    </p>
  </div>

  <div class="content-wrapper">
    <!-- Section -->
    <div class="content light orange" id="about">
      <h2 class="content-head is-center">About</h2>
      <div class="pure-g">
        <div class="l-box pure-u-1 pure-u-md-1-2">
          <p>
            From intense gaming, to extraordinary prizes and unbeatable bragging
            rights, Battle Royale has it all. Every year, over 100 competitors
            bring their best to Ottawa's largest 24-hour gaming event, for a
            chance to win incredible prizes! If you think you have what it takes
            to rise to the top or simply want to have a good time, Battle Royale
            is for you.
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2">
          <p>
            From intense gaming, to extraordinary prizes and unbeatable bragging
            rights, Battle Royale has it all. Every year, over 100 competitors
            bring their best to Ottawa's largest 24-hour gaming event, for a
            chance to win incredible prizes! If you think you have what it takes
            to rise to the top or simply want to have a good time, Battle Royale
            is for you.
          </p>
        </div>
      </div>
    </div>

    <!-- Section -->
    <div class="content dark" id="games">
      <h2 class="content-head is-center">Games</h2>
      <div class="pure-g">
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">First Point</h3>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
            sodales pellentesque elementum.
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">Second Point</h3>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
            sodales pellentesque elementum.
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">Third Point</h3>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
            sodales pellentesque elementum.
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">Fourth Point</h3>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
            sodales pellentesque elementum.
          </p>
        </div>
      </div>
    </div>

    <!-- Section -->
    <div class="content light green" id="prizes">
      <h2 class="content-head is-center">Prizes</h2>
      <div class="pure-g">
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">First Point</h3>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
            sodales pellentesque elementum.
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">Second Point</h3>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
            sodales pellentesque elementum.
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">Third Point</h3>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
            sodales pellentesque elementum.
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">Fourth Point</h3>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
            sodales pellentesque elementum.
          </p>
        </div>
      </div>
    </div>

    <!-- Section -->
    <div class="content dark" id="tickets">
      <h2 class="content-head is-center">Tickets</h2>
      <div class="pure-g">
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">First Point</h3>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
            sodales pellentesque elementum.
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">Second Point</h3>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
            sodales pellentesque elementum.
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">Third Point</h3>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
            sodales pellentesque elementum.
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">Fourth Point</h3>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
            sodales pellentesque elementum.
          </p>
        </div>
      </div>
    </div>

    <!-- Section -->
    <div class="content light purple" id="patrons">
      <h2 class="content-head is-center">Patrons</h2>
      <div class="pure-g">
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">First Point</h3>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
            sodales pellentesque elementum.
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">Second Point</h3>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
            sodales pellentesque elementum.
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">Third Point</h3>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
            sodales pellentesque elementum.
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">Fourth Point</h3>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
            sodales pellentesque elementum.
          </p>
        </div>
      </div>
    </div>

    <!-- Section -->
    <div class="content dark" id="faq">
      <h2 class="content-head is-center">FAQ</h2>
      <div class="pure-g">
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">First Point</h3>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
            sodales pellentesque elementum.
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">Second Point</h3>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
            sodales pellentesque elementum.
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">Third Point</h3>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
            sodales pellentesque elementum.
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">Fourth Point</h3>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
            sodales pellentesque elementum.
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">First Point</h3>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
            sodales pellentesque elementum.
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">Second Point</h3>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
            sodales pellentesque elementum.
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">Third Point</h3>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
            sodales pellentesque elementum.
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">Fourth Point</h3>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
            sodales pellentesque elementum.
          </p>
        </div>
      </div>
    </div>

    <div class="content dark">
      <h2 class="content-head is-center">
        Join Us &middot; January 15ish 2021
      </h2>
    </div>
  </div>
</main>
{{end}}
